.list {
	margin: 0.5rem;
	padding: 0.5rem;
	width: min-content;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid transparent;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.list div {
	width: fit-content;
}

.bookmark a {
	color: whitesmoke;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2px;
}
.bookmark p {
	margin: 2px;
	font-size: small;
}

.icon {
	width: fit-content;
	padding: 6px 6px 3px;
	background: #fefefe69;
	border: 1px solid transparent;
	border-radius: 10px;
}
.icon:hover {
	background: #ffffffa9;
}
.icon img {
	border-radius: 10px;
}

.btn button {
	display: flex;
	width: -webkit-fill-available;
}
.btn button:first-child:hover {
	background-color: rgba(178, 34, 34, 0.753);
}
.btn button:last-child:hover {
	background: #9b5c1bfc;
}

.btn span {
	margin: 0 5px;
	font-size: 12px;
}

@media (max-width: 565px) {
	/* Style for screens 565px and narrower */
	.list {
		margin: 0.15rem;
	}
}
