.header {
	margin: 3rem;
	text-align: center;
}

.themeBtn {
	font-weight: bold;
	text-align: end;
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 5px;
	border: transparent;
	border-radius: 5px;
	cursor: pointer;
}
.themeBtn:hover {
	background-position: left;
}

.themeBtnLight {
	color: whitesmoke;
	background: linear-gradient(to left, darkslategray 50%, #0a1a29 50%);
	background-size: 200%;
	background-position: right;
	transition: all 0.5s ease-out;
}

.themeBtnDark {
	background: linear-gradient(to left, #6e6e6e 50%, #f3f3f3 50%);
	background-size: 200%;
	background-position: right;
	transition: all 0.5s ease-out;
}

.header h1 {
	font-size: 54px;
	font-family: monospace;
	font-weight: bolder;
	color: transparent;
	background: linear-gradient(45deg, darkslategray 51%, lightslategray 50%);
	background-clip: text;
}

.addBtn {
	width: 300px;
	font-size: 20px;
	font-weight: bolder;
	color: #e39c1e;
	margin: 10px 0;
	padding: 6px 12px;
	height: 50px;
	border: 2px solid darkslategray;
	border-radius: 5px;
	cursor: pointer;

	background: linear-gradient(to left, #6e6e6e 50%, rgba(0, 0, 0, 0.85) 50%);
	background-size: 200%;
	background-position: right;
	transition: all 0.5s ease-out;
}

.addBtn:hover {
	/* background-color: transparent; */
	background-position: left;
}
