.lightbg {
	background-color: rgb(255 255 255 / 87%);
}
.darkbg {
	background-color: #0a1a29;
	color: white;
}
.form {
	text-align: center;
	padding: 1rem;
}

.form div {
	margin: 0.25rem;
}

.input {
	text-align: start;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.input label {
	font-weight: bold;
	margin-right: 1rem;
	margin-bottom: 0.15rem;
}

.input input {
	font-size: 15px;
	margin-bottom: 0.5rem;
	padding: 5px;
	width: 100%;
	height: 32px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.btn {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.btn Button {
	margin: 0.5rem 0 0 1rem;
}

.btn Button:hover {
	background-color: darkslategray;
}
