.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
	position: fixed;
	top: 20vh;
	left: 25%;
	width: 50%;
	padding: 1rem 2rem;
	z-index: 30;
	/* animation: slide-down 300ms ease-out forwards; */
}
